#weekRow
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-dark
{
    width: 100%;
}

#spacer
{
    display: inline-block;
    width: 30px;
}

#seasonNav
{
    color: white;
}

.btn-danger
{
    float: right;
}
.game
{
    margin-bottom: 2%;
}
.weekPoints
{
    display: inline-block;
    margin-right: 10px;
    font-size: 120%;
}
.week
{
    display: inline-block;
    margin-left: 10px;
    font-size: 120%;
}
#weeklyStats
{
    background-color: black;
    color: yellow;
    font-weight: bold;
}
.seasonStats
{
    font-family: Arial Black;
}
.btn-info
{
    margin-top: 10px;
}
