{% extends "layout.html" %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/createTeam.css') }}"/>
{% endblock %}

{% block title %}
  <title>Create Team</title>
{% endblock %}

{% block container %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>Add Player</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form id="playerForm" action="" method="get">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName">
          </div>
          <div class="form-group">
            <label for="team">Team</label>
            <select class="form-control" id="team" name="team">
              <option value="ARI">Arizona Cardinals</option>
              <option value="ATL">Atlanta Falcons</option>
              <option value="BAL">Baltimore Ravens</option>
              <option value="BUF">Buffalo Bills</option>
              <option value="CAR">Carolina Panthers</option>
              <option value="CHI">Chicago Bears</option>
              <option value="CIN">Cincinnati Bengals</option>
              <option value="CLE">Cleveland Browns</option>
              <option value="DAL">Dallas Cowboys</option>
              <option value="DEN">Denver Broncos</option>
              <option value="DET">Detroit Lions</option>
              <option value="GB">Green Bay Packers</option>
              <option value="HOU">Houston Texans</option>
              <option value="IND">Indianapolis Colts</option>
              <option value="JAX">Jacksonville Jaguars</option>
              <option value="KC">Kansas City Chiefs</option>
              <option value="LAC">Los Angeles Chargers</option>
              <option value="LAR">Los Angeles Rams</option>
              <option value="LV">Las Vegas Raiders</option>
              <option value="MIA">Miami Dolphins</option>
              <option value="MIN">Minnesota Vikings</option>
              <option value="NE">New England Patriots</option>
              <option value="NO">New Orleans Saints</option>
              <option value="NYG">New York Giants</option>
              <option value="NYJ">New York Jets</option>
              <option value="PHI">Philadelphia Eagles</option>
              <option value="PHO">Pittsburgh Steelers</option>
              <option value="PIT">San Francisco 49ers</option>
              <option value="SEA">Seattle Seahawks</option>
              <option value="TB">Tampa Bay Buccaneers</option>
              <option value="TEN">Tennessee Titans</option>
              <option value="WAS">Washington Redskins</option>
            </select>
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <select class="form-control" id="position" name="position">
              <option id="quarterBack" value="QB">Quarterback</option>
              <option id="runningBack" value="RB">Running Back</option>
              <option id="wideReceiver" value="WR">Wide Receiver</option>
              <option id="tightEnd" value="TE">Tight End</option>
              <option id="kicker" value="K">Kicker</option>
            </select>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" id="addPlayer" name="addPlayer" formaction="/addPlayer" class="btn btn-primary">Add Player</button>
              <button type="submit" id="addPlayer" name="addPlayer" formaction="/roster" class="btn btn-success">View Roster</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 playerInfo" id="players">
        {% if player is defined %}
          {% if player[0] is defined %}
          <h4>{{ player[0] }}</h4>
          {% else %}
          <h4>Player Not Found</h4>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form>
          <button type="submit" id="eligiblePlayers" name="eligiblePlayers" formaction="/eligiblePlayers" class="btn btn-info">See Eligible players</button>
        </form>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Position</th>
              <th scope="col">Team</th>
              <th scope="col">Add Player</th>
            </tr>
          </thead>
          <tbody>
            {% for player in eligiblePlayers %}
              <tr>
                <td>{{ player[1] }} {{ player[2] }}</td>
                <td>{{ player[3] }}</td>
                <td>{{ player[4] }}</td>
                <td>
                  <form>
                     <input type="hidden" name="playerId" value="{{ player[0] }}">
                     <button type="submit" formaction="/addPlayerFromList" class="btn btn-primary">Add Player</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/createTeam.js') }}"></script>
{% endblock %}