{% extends "layout.html" %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/season.css') }}"/>
{% endblock %}

{% block title %}
  <title>Season</title>
{% endblock %}

{% block container %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <form id=season>
          <div class="row" id="weekRow">
            <div class="col-md-12">
              <form>
                <button type="submit" id="nextWeek" formaction="/playNextWeeksGame" class="btn btn-success">Play Next Week's Game</button>
                <button type="submit" id="startOver" formaction="/startOver" class="btn btn-danger">Start Over</button>
              </form>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <h3>Year: <span id="year"></span></h3>
        <h3>Week: <span id="week"></span></h3>
        <h3>Total Points: <span id="points"></span></h3>
      </div>
    </div>

    <div class="row" id="week1-6">
      <div id="weekNumber" class="col-md-2">
      {% for player in playerGame %}
      <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#{{ player }}">{{ player['name'] }}</button>
      <div id="{{ player }}" class="collapse">
        <table class="table table-sm">
          <thead class="thead-secondary">
            <tr>
              <th scope="col">Stat</th>
              <th scope="col">Qty</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Passing Yards</th>
              <td>{{ player['passingYards'] }}</td>
              <td>xxxxxxxx</td>
            </tr>
            <tr>
              <th scope="row">Passing Touchdowns</th>
              <td>{{ player['PassingTouchdowns'] }}</td>
              <td>xxxxxxxx</td>
            </tr>
            <tr>
              <th scope="row">Passing Interceptions</th>
              <td>{{ player['PassingInterceptions'] }}</td>
              <td>xxxxxxxx</td>
            </tr>
            <tr>
              <th scope="row">Rushing Yards</th>
              <td>{{ player['RushingYards'] }}</td>
              <td>xxxxxxxx</td>
            </tr>
            <tr>
              <th scope="row">Receiving Yards</th>
              <td>{{ player['ReceivingYards'] }}</td>
              <td>xxxxxxxx</td>
            </tr>
            <tr>
              <th scope="row">Receiving Touchdowns</th>
              <td>{{ player['ReceivingTouchdowns'] }}</td>
              <td>xxxxxxxx</td>
            </tr>
            <tr>
              <th scope="row">2-Point Conversions</th>
              <td>{{ player['TwoPointConversionPasses']|int + player['TwoPointConversionRuns']|int + player['TwoPointConversionReceptions']|int }}</td>
              <td>xxxxxxxx</td>
            </tr>
            <tr>
              <th scope="row">Fumbles Lost</th>
              <td>{{ player['FumblesLost'] }}</td>
              <td>xxxxxxxx</td>
            </tr>
            <tr>
              <th scope="row">Fumble Recovered for a Touchdown</th>
              <td>{{ player['FumbleReturnTouchdowns'] }}</td>
              <td>xxxxxxxx</td>
            </tr>
            <tr>
              <th scope="row">Extra Points</th>
              <td>{{ player['ExtraPointsMade'] }}</td>
              <td>xxxxxxxx</td>
            </tr>
            <tr>
              <th scope="row">Field Goals 0-49 yards</th>
              <td>{{ player['FieldGoalsMade0to19']|int + player['FieldGoalsMade20to29']|int + player['FieldGoalsMade30to39']|int + player['FieldGoalsMade40to49']|int }} </td>
              <td>xxxxxxxx</td>
            </tr>
            <tr>
              <th scope="row">Field Goals 50+ yards</th>
              <td>{{ player['FieldGoalsMade50Plus'] }}</td>
              <td>xxxxxxxx</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endfor %}
      </div>

    </div>

    <div class="row" id="week7-12" >
      <!-- Week 7 through 12 -->
    </div>
      <!-- Week 12 through 16 -->
    <div class="row" id="week12-16">

    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/season.js') }}"></script>
{% endblock %}