{% extends "layout.html" %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/season.css') }}"/>
{% endblock %}

{% block title %}
  <title>Season</title>
{% endblock %}

{% block container %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <form id=season>
          <div class="row" id="weekRow">
            <div class="col-md-12">
              <form>
                <button type="submit" id="nextWeek" formaction="/playNextWeeksGame" class="btn btn-primary">Play Next Week's Game</button>
                <button type="submit" id="startOver" formaction="/startSeasonOver" class="btn btn-danger">Start Season Over</button>
                <div><button type="submit" id="roster" formaction="/roster" class="btn btn-info float-right">To Roster</button></div>
              </form>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <h3>Week: <span class="seasonStats">{{ currentWeek }}</span></h3>
        <h3>Total Points: <span class="seasonStats">{{ '%0.2f'|format(totalPoints) }}</span></h3>
      </div>
    </div>

    <div class="row" id="gameRow">
      {% for fantasyGame in fantasyGames %}
        <div id="weekNumber" class="col-md-3 game">
        <div id="weeklyStats">
        <span class="week">Week: {{ loop.index }}</span>
        <span class="float-right weekPoints">{{'%0.2f'|format(pointsArray[loop.index - 1]) }}</span></div>

        {% for playerGame in fantasyGame %}
          <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#{{ playerGame }}">{{ playerGame['name'] }} <span class="float-right">{{'%0.2f'| format(playerGame['PlayerPoints']|float)}}</span></button>
          <div id="{{ playerGame }}" class="collapse">
            <table class="table table-sm">
              <thead class="thead-secondary">
                <tr>
                  <th scope="col">Stat</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Points</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Passing Yards</th>
                  <td>{{ playerGame['passingYards'] }}</td>
                  <td>{{ playerGame['PassingYards_Pts'] }}</td>
                </tr>
                <tr>
                  <th scope="row">Passing Touchdowns</th>
                  <td>{{ playerGame['PassingTouchdowns'] }}</td>
                  <td>{{ playerGame['PassingTouchdowns_Pts'] }}</td>
                </tr>
                <tr>
                  <th scope="row">Passing Interceptions</th>
                  <td>{{ playerGame['PassingInterceptions'] }}</td>
                  <td>{{ playerGame['PassingInterceptions_Pts'] }}</td>
                </tr>
                <tr>
                  <th scope="row">Rushing Yards</th>
                  <td>{{ playerGame['RushingYards'] }}</td>
                  <td>{{ playerGame['RushingYards_Pts'] }}</td>
                </tr>
                <tr>
                <th scope="row">Rushing Touchdowns</th>
                  <td>{{ playerGame['RushingTouchdowns'] }}</td>
                  <td>{{ playerGame['RushingTouchdowns_Pts'] }}</td>
                </tr>
                <th scope="row">Receptions</th>
                  <td>{{ playerGame['Receptions'] }}</td>
                  <td>{{ playerGame['Receptions_Pts'] }}</td>
                </tr>
                <tr>
                <tr>
                  <th scope="row">Receiving Yards</th>
                  <td>{{ playerGame['ReceivingYards'] }}</td>
                  <td>{{ playerGame['ReceivingYards_Pts'] }}</td>
                </tr>
                <tr>
                  <th scope="row">Receiving Touchdowns</th>
                  <td>{{ playerGame['ReceivingTouchdowns'] }}</td>
                  <td>{{ playerGame['ReceivingTouchdowns_Pts'] }}</td>
                </tr>
                <tr>
                  <th scope="row">2-Point Conversions</th>
                  <td>{{ playerGame['TwoPointConversionPasses']|int + playerGame['TwoPointConversionRuns']|int + playerGame['TwoPointConversionReceptions']|int }}</td>
                  <td>{{ playerGame['TwoPointConversion_Pts'] }}</td>
                </tr>
                <tr>
                  <th scope="row">Fumbles Lost</th>
                  <td>{{ playerGame['FumblesLost'] }}</td>
                  <td>{{ playerGame['FumblesLost_Pts'] }}</td>
                </tr>
                <tr>
                  <th scope="row">Fumble Recovered for a TD</th>
                  <td>{{ playerGame['FumbleReturnTouchdowns'] }}</td>
                  <td>{{ playerGame['FumbleReturnTouchdowns_Pts'] }}</td>
                </tr>
                <tr>
                  <th scope="row">Extra Points</th>
                  <td>{{ playerGame['ExtraPointsMade'] }}</td>
                  <td>{{ playerGame['ExtraPointsMade_Pts'] }}</td>
                </tr>
                <tr>
                  <th scope="row">Field Goals 0-49 yards</th>
                  <td>{{ playerGame['FieldGoalsMade0to19']|int + playerGame['FieldGoalsMade20to29']|int + playerGame['FieldGoalsMade30to39']|int + playerGame['FieldGoalsMade40to49']|int }} </td>
                  <td>{{ playerGame['FieldGoalsMade0to49_Pts'] }}</td>
                </tr>
                <tr>
                  <th scope="row">Field Goals 50+ yards</th>
                  <td>{{ playerGame['FieldGoalsMade50Plus'] }}</td>
                  <td>{{ playerGame['FieldGoalsMade50Plus_Pts'] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/season.js') }}"></script>
{% endblock %}